/* For mobile resolution & default: */

.about-wrapper {
	display: block;
    justify-content: center;
    margin-top: 20px
}

.about-image {
	display: none;
}

.about-description h2 {
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}

.about-description h4 {
	color: #101010;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
	.about-wrapper {
		display: flex;
	}	

	.about-image {
		display: block;
		flex: 50%;
		width: 100%;
		height: auto;
	}

	.about-description {
		padding: 0 15px;
		flex: 50%;
	}
}