.about-wrapper {
	display: flex;
    align-items: center;
    justify-content: center;
	padding-bottom: 140px;
}

.about-image {
	flex: 50%;
}

.about-image img {
	width: 100%;
	height: auto;
}
   
.about-description {
	padding: 0 15px;
	flex: 50%;
}

.about-description h2 {
    color: #101010;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
