/* For mobile phones: */

.footer-wrapper {
	float: right;
    width: 100%;
    box-sizing: border-box;
    background: #f6f6f6;
    align-items: center;
    justify-content: center;
    padding: 60px 30px 30px;
}

.footer-wrapper .footer-item {
    width: 100%;
    text-align: center;
    padding-bottom: 20px; 
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .footer-wrapper {
        width: 77%;
        display: flex;
	    padding: 100px 60px 0;
    }

    .footer-wrapper .footer-item {
        width: 33%;
        text-align: center;
        padding: 0 30px;
    }
}

/* For all resolutions: */

.footer-wrapper .footer-item h2 {
    color: #101010;
    font-size: 40px;
    line-height: 30px;
    letter-spacing: 3px;
}

.footer-wrapper .footer-item p {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #6b6b6b;
    margin: 0;
}

.footer-wrapper .footer-item ul {
	margin-left: 0 !important;
    padding: 0;
}

.footer-wrapper .footer-item ul li {
    display: inline;
    margin: 0 5px;
 }

.footer-wrapper .footer-item ul li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-size: 20px;
    color: #5a5a5a;
}