aside {
    padding: 60px 0;
    width: 23%;
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    overflow-y: hidden;
    background: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.logo {
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 60px;
    display: block;
    width: 100%;
}

aside .logo a {
    display: inline-block;
    text-align: center;
    color: #fff;
    letter-spacing: 3px;
}

aside .logo a span {
    display: block;
    margin-top: 0px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    color: #cecece;
    font-weight: 400;
    letter-spacing: 3px;
}

.main-menu {
    margin: 0;
    padding: 0 30px;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-menu ul {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-menu ul li {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.main-menu ul li a {
    margin: 15px 0 15px 0;
    padding: 0 0 12px 0;
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid #202020;
    color: #cecece;
    display: inherit;
}

.navigation-footer-wrapper {
    position: static;
    bottom: 30px;
    right: 0;
    left: 0;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    color: #777;
    padding: 30px;
}

.navigation-footer-wrapper ul {
    padding: 0 0 5px 0;
    margin: 0 0 5px 0;
}

.navigation-footer-wrapper ul li {
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}

.navigation-footer-wrapper ul li a ion-icon {
    font-size: 20px;
    color: #cecece;
    background: transparent;
    padding: 0 8px;
    border-radius: 50%;
}

.navigation-footer-wrapper p {
    margin-bottom: 0;
    color: #cecece;
}

.navigation-footer-wrapper p small {
    font-size: 85%;
}