/* For mobile resolution & default: */

.project-wrapper {
	display: block;
    justify-content: center;
}

.project-description span {
	padding-left: 5px;
	margin: 12px 0;
    font-size: 13px;
    color: #777 !important;
}

.project-text {
	margin-top: 30px;
}

.project-description ul {
	padding: 20px 0 0;
}

.project-description ul li {
	padding-bottom: 4px;
}

.project-description ul li b {
	color: #101010;
}

.tag-name, .category-name {
	font-size: 15px !important;
}