/* For mobile resolution & default: */

.project-wrapper {
	display: block;
    justify-content: center;
}

.project-wrapper .image-container {
	text-align: center;
}

.project-wrapper .image-container img {
	width: 100%;
    height: auto;
}

.project-description span {
    margin: 12px 0;
    font-size: 13px;
    color: #777 !important;
}

.project-text {
	margin-top: 30px;
}

.project-description ul {
	padding: 20px 0 0;
}

.project-description ul li {
	padding-bottom: 4px;
}

.project-description ul li b {
	color: #101010;
}

.tag-name, .category-name {
	font-size: 15px !important;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
	.project-wrapper .image-container {
		background-color: #f1f1f1;
	}

	.project-wrapper .image-container img {
		width: auto;
	    height: 100%;
	}
}