/* For mobile resolution & default: */

.services-wrapper {
	display: block;
    justify-content: center;
}


.services-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 30px;
}

.service-item {
	flex: 50%;
}

.service-item ion-icon {
	float: left;
	margin-right: 10px;
    font-size: 23px;
    color: #777;
}

.service-item h3 {
    font-weight: 600;
    color: #101010;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.services-description {
	margin-top: 10px;
}

.services-description ul {
	padding: 0;
}

.services-image {
	display: none;
	width: 100%;
}

.services-image img {
	width: 100%;
	height: auto;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
	.services-wrapper {
		display: flex;
	}	

	.services-content {
		flex: 50%;
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 0;
	}

	.service-item ion-icon {
	    font-size: 28px;
	}

	.services-image {
		display: block !important;
		flex: 50%;
	}
}