.services-wrapper {
	display: flex;
    justify-content: center;
}

.services-content {
	flex: 50%;
	display: flex;
	flex-wrap: wrap;
}

.services-content ion-icon {
	flex: 12%;
    font-size: 35px;
    color: #777;
}

.services-description {
	flex: calc(38% - 10px);	
	margin-right: 10px;
}

.services-description h3 {
    font-weight: 600;
    margin-bottom: 20px;
    color: #101010;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.services-description ul {
	padding: 0;
}

.services-image {
	flex: 50%;
}

.services-image img {
	width: 100%;
	height: auto;
}
