.ham {
    z-index: 3;
    position: fixed;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.53);
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 500ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 500ms;
}

.ham.active {
    left: 285px;
}

.hamRotate.active {
    transform: rotate(45deg);
}
.hamRotate180.active {
    transform: rotate(180deg);
}
.line {
    fill: none;
    transition: stroke-dasharray 500ms, stroke-dashoffset 500ms;
    stroke: #fff;
    stroke-width: 3.5;
    stroke-linecap: square;
}

.ham2 .top {
    stroke-dasharray: 40 121;
}
.ham2 .bottom {
    stroke-dasharray: 40 121;
}
.ham2.active .top {
    stroke-dashoffset: -102px;
}
.ham2.active .bottom {
    stroke-dashoffset: -102px;
}

/*** GLOBAL CLASSES ***/

/* For mobile resolution & default: */

.main-page-wrapper {
    width: 100%;
}

.section-wrapper {
    width: 100%;
    box-sizing: border-box;
}

.block-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 30px;
    clear: both;
    display: block;
}

.section-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-title span {
    display: block;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    color: #777;
    font-weight: 400;
    letter-spacing: 5px;
}

.section-title h2 {
    color: #101010;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
}

/*** Gallery flexbox grid ***/

.gallery-wrapper {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
}

.item-wrapper {
    background-color: #101010;
    width: 100%;
    position: relative;
    margin: 0 30px 30px 0;
}

.item-wrapper img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    height: 350px;
}

.item-wrapper .item-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    );
    transition: 0.3s;
    opacity: 0;
}

.item-wrapper .item-description:hover {
    opacity: 1;
}

.item-wrapper .item-description h3 {
    font-size: 20px;
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.item-wrapper .item-description span {
    display: block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.item-wrapper .item-description ul {
    padding: 0;
}

.item-wrapper .item-description ul li {
    display: inline;
    margin: 0 10px 0 0;
}

.item-wrapper .item-description ul li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-size: 25px;
    color: #fff;
}

.clear {
    clear: both;
}

/* For desktop: */

@media only screen and (min-width: 768px) {
    .ham {
        display: none;
    }
    .section-wrapper {
        width: 77%;
        float: right;
        box-sizing: border-box;
    }

    .gallery-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .item-wrapper {
        width: calc(50% - 30px);
    }
}
