.main-page-wrapper {
	width: 100%;
}

/*** GLOBAL CLASSES ***/

.section-wrapper {
    width: 77%;
    float: right;
    box-sizing: border-box;
}

.block-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 60px 30px;
    clear: both;
    display: block;
}

.section-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.section-title span {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    color: #777;
    font-weight: 400;
    letter-spacing: 5px;
}

.section-title h2 {
    color: #101010;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 3px;
}

/*** Gallery flexbox grid ***/

.gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.item-wrapper {
      width: calc(50% - 30px);
      position: relative;
      padding: 0 30px 20px 0;
}

.item-wrapper .item-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 30px 0 0;
    padding: 30px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0,0,0,0));
    transition: 0.3s;
    opacity: 0; 
}

.item-wrapper .item-description:hover {
    opacity: 1; 
}

.item-wrapper .item-description h3 {
    font-size: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.item-wrapper .item-description span {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
}

.item-wrapper .item-description ul {
    padding: 0;
}

.item-wrapper .item-description ul li {
    display: inline;
    margin: 0 10px 0 0;
}

.item-wrapper .item-description ul li a {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    font-size: 25px;
    color: #FFF;
}