/*** Default styles ***/

html,
body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 1.75em;
    font-weight: 400;
    color: #777;
}

/*** typography ***/


/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #101010;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0 0 20px 0;
}


/* paragraph */

p {
    font-family: 'Hind', sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0 0 20px;
    color: #6b6b6b;
}


/* lists */

ul {
    list-style-type: none;
}


/* links */

a {
    color: #101010;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover,
a:active,
a:focus {
    color: #101010;
    outline: none;
    text-decoration: none !important;
}

a:link {
    text-decoration: none;
}

a:focus {
    outline: none;
}

img {
    width: 100%;
    height: auto;
}